#--------------------------------------------------
# Répertoire
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Réécriture d'URL :
#--------------------------------------------------

RewriteRule ^accueil$ ?action=home
RewriteRule ^quiz$ ?action=quizz
RewriteRule ^carte$ ?action=map
RewriteRule ^annuaire$ ?action=list
RewriteRule ^evenement$ ?action=event
RewriteRule ^activite$ ?action=list
RewriteRule ^profil$ ?action=profil
RewriteRule ^scanner$ ?action=scanner
RewriteRule ^coupon$ ?action=coupon

RewriteRule ^connexion$ ?action=login
RewriteRule ^deconnexion$ ?action=logOut
