#--------------------------------------------------
# Répertoire
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Réécriture d'URL :
#--------------------------------------------------

RewriteRule ^accueil$ ?action=home
RewriteRule ^carte$ ?action=map
RewriteRule ^quiz$ ?action=quizz
RewriteRule ^annuaire$ ?action=list

RewriteRule ^connexion$ ?action=login
RewriteRule ^deconnexion$ ?action=logOut
