<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Littératures Maudites 2023</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="container mx-auto p-6">

        <div class="flex justify-center">
            <img class="w-2/3" src="../../src/assets/img/event1.png">
        </div>

        <h1 class="text-3xl font-semibold mb-4 text-center p-6">Littératures Maudites 2023</h1>

        <div class="bg-white rounded-lg shadow-lg p-6">
            
            <div class="flex p-5">

                <div>
                    <h2 class="text-xl font-semibold mb-2">SYMPOSIUM DES MAUDITS</h2>
                    <p class="text-gray-600 mb-4">DU 13 AU 31 OCTOBRE 2023</p>
                    <p class="text-gray-600 mb-4">Lieu : Médiathèque à Charleville-Mézière</p>
                    <p class="text-gray-600 mb-4 w-5/6">
                        Description de l'événement :
                        La Société Des Ecrivains Ardennais et le réseau des Médiathèques Communautaires Ardenne Métropole présententle 7ème Salon des Littératures Maudites 2023.
                        De l’imagination féconde de H.P. Lovecraft est née cette citation qui dicte le contenu de cette septième édition d’un Salon des Littératures Maudites désormais devenu « Symposium des Maudits ».
                    </p>
                    <button class="bg-[#004a93] text-white py-2 px-4 rounded-lg mt-5 font-semibold">Détail de l'évenement →</button>
                </div>

                <img class="w-2/3" src="../../src/assets/img/afficheEvent1.jpg">

            </div>

        </div>

    </div>

</body>
</html>
